<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Warehouse</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <!-- Custom css -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&display=swap");
      .background {
        background-attachment: fixed;
        background-size: cover;
        background-image: url("{{ url_for('static', filename= 'images/back.jpg') }}");
      }
     
      .styled-font {
        font-family: "Acme" !important;
      }
    </style>
  </head>
  <!-- #body start here -->
  <body
    class="background"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh !important;
    "
  >
    <div class="container">
      <div class="jumbotron" style="background-color: rgba(255, 255, 255, 0.9)">
        <a href="/" class="text-dark"
          ><h1 class="display-3 styled-font">Warehouse</h1></a
        >
        <p class="lead"></p>
        <div class="row">
          <div class="col-8">
            <h5>Available products</h5>
          </div>
          <div class="col-4">
            <a
              name=""
              id=""
              style="float: right !important"
              class="btn btn-danger"
              href="/addproduct"
              role="button"
              >Add New</a
            >
          </div>
        </div>
        <form class="form-inline w-100 m-auto" action="/search" method="POST">
          <input
            type="text"
            class="form-control ml-5 w-75"
            placeholder="Enter product to search"
            id="search"
            name="search"
          />
          <button type="submit" class="btn btn-danger">Submit</button>
        </form>
        <br />
        <!-- table to show available products -->
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Colors</th>
              <th>Location</th>
              <th>Category</th>
              <th>Count</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Jinja template syntax -->
            {% for product in products.values() %}
            <tr>
              <td scope="row">
                {% if product["newName"] != "" %} {{product["newName"]}} {% else
                %} {{product["name"]}} {% endif %}
              </td>

              <td>
                {% for color in product["colors"] %}{{color}} {% endfor %}
              </td>
              <td>{{product["location"]}}</td>
              <td>{{product["category"]}}</td>
              <td>{{product["count"]}}</td>
              <td>
                <a href="/product/{{product['name']}}">View</a> |
                <a href="/updateproduct/{{product['name']}}">Update</a> |
                <a href="/deleteproduct/{{product['name']}}">Delete</a>
              </td>
            </tr>

            {% endfor %}

            <tr>
              <td scope="row"></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
